body {
  background: #ffffff;
  color: #2e2e2e;
  font-size: 22px;
  font-family: Arial;
  font-weight: lighter;
  margin: 0;
}
header {
  height: 120px;
  background-color: #fff;
  width: 1040px;
  padding: 20px;
  margin: auto;
}
h1 {
  color: #2e2e2e;
  width: auto;
  margin-top: 20px;
}
h2 {
  color: #000;
  width: auto;
  font-size: 20px;
  margin-top: 0px;
}
h3 {
  color: #1d9c6b;
  width: auto;
  font-size: 18px;
}
h4 {
  color: #000;
  width: auto;
  font-size: 16px;
  font-weight: normal;
}
section {
  background-color: #fff;
  width: 1040px;
  padding: 20px;
  margin: auto;
}
footer {
  height: 100px;
  width: 1040px;
  padding: 20px;
  margin: auto;
}
nav {
  margin: auto;
  width: 1040px;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
nav a:hover {
  text-decoration: none;
  color: #1d9c6b;
}
nav {
  background-color: #fff;
  width: 1070px;
  padding-left: 10px;
}
nav ul {
  list-style-type: square;
}
nav li {
  padding: 3px;
}
